.homePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 63%;
  width: 81%;
  max-width: 900px;
  border-radius: 1.5em;
  background-color: #fbfbfbf4;
}

.welcome {
  font-size: 45px;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
  text-align: center;
}

.description {
  font-size: 36px;
  font-weight: 300;
  width: 80%;
  text-align: center;
}

.listContainer {
  width: 70%;
}

.listItem {
  list-style: square;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.listItem::marker {
  color: orange;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .homePageContainer {
    padding: 25px 35px;
  }

  .welcome {
    font-size: 2rem;
  }

  .description {
    width: 90%;
    font-size: 1.4rem;
  }

  .listItem {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .homePageContainer {
    padding: 25px 35px;
  }

  .welcome {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
  }

  .description {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }

  .listItem {
    font-size: 1rem;
    margin-left: 30px;
  }
}
